body{
    font-size: 16px; 
    margin: 0px auto;
    /*Recomendcion del cliente*/
    max-width: 1078px;
    min-width: 1078px;
}
#bgoffer{
    position: relative;
    top: -406px;
    left: -24px;
}

header nav{
    /*text-align: center;*/
    margin-left: 220px;
}
header nav ul li{
    border-bottom: 1px solid lightgray;
    color: lightgray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 4px;
    /*text-decoration: underline;*/
}
header input{
    float: right;
    margin-right: -210px;
    margin-top: 15px;
}
#paint{
    float: right;
}

#granthams{
    margin-left: 25px;
    margin-top: 25px;   
}


#primerSeccion{
    margin-top: 60px;
    height: 318px;
}

#primerSeccion article{
    display: inline-block;
    vertical-align: top;
}

#secc01art01{
    margin-left: 30px;
    width: 60%;
}
#secc01art02{
    margin-left: 50px;
    width: 30%;
}
#secc01art02 ul{
    list-style: none;
    margin-left: -40px;
}
#secc01art02 ul li:before{
    color: #ff0099;
    content: "*";

}
#segundaSeccion article{
    text-align: right;
    margin-right: 165px;
}
#terceraSeccion article{
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#terceraSeccion article img{
    vertical-align: middle;
}
#secc03art04{
    padding-top: 40px;    
}

#secc03art04 input[type=email]{
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 5px;

}
#secc03art04 input[type=submit]{
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 5px ;
}


.colorrosa{
    color: #ff0099;
}
.colorazul{
    color: #4267B3;
}
.colorverde{
    color: #8BC500;
}
.letragrande{
    font-size: 3.5em;
}
.letramediana{
    font-size: 2em;
}
.nito{
    font-weight: bold;
}











