body{
    font-size: 16px; 
    margin: 0px auto;
    max-width: 1024px;
    min-width: 1024px;
}

header nav{
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

header nav ul li {
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 4px;
}

#logo{
    display: block;
}

#red1{
    float: right;
    padding-left: 6px;
}
#red2{
    float: right;
    padding-left: 6px;
}
#red3{
    float: right;
    padding-left: 6px;
}

#thema{
    width: 250px;
    padding-bottom: 15px;
}

#secction01{
    background-color: white;
}

#secc01art01 img{
    margin-top: 10px;
    border-bottom: gray 1px solid;
}

#secc01art02{
    float: right;
    border: gray 1px solid;
    border-radius: 8px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 60px;
    margin-top: -295px;   
}
#secc01nav01{
    margin-top: -20px;  
    text-align: center;
    margin-left: -3px;
    margin-right: -3px;
   
    
}

#secction02 {
    margin-top: 20px;
    /*border: red 2px solid;*/
    margin-right: 420px;
    display: inline-block;
    border-bottom: grey 1px solid;
    padding-bottom: 8px;
    /*padding-right: 250px;*/
}
#secction02 article input[type=submit]{
    margin-top: 70px;
    border-radius: 8px; 
   
}

#secction02 article img{
    float: left;
    border: grey 8px solid;
}
#secction02 article div{
    /*border:blue 2px solid;*/
    margin-left: 190px;
}
#secction02 article nav{
    background-color: cadetblue;
    border-radius: 8px;    
    padding-top: 2px;
    padding-bottom: 2px;
    
}

#secction03 {
    float: right;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 140px;
    margin-top: -210px;   

}

#secction04 {
    float: right;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 200px;
    margin-top: -100px;   

}




.navnaranja{
    background-color: chocolate;
    color: white;
}
.navletra{
    color: white;
    font-size: 1.2em;
}
.navredondito{
    border-radius: 6px;
}







